.enterprise-principal-content {
    animation-duration: 1.0s;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        opacity: 0;
        margin-left: 100%;
        width: 300%;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}