.enterprise-principal-content {
    animation-duration: 1.0s;
    animation-name: slidein;
}

.prefix.active {
    color: #5893d4 !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5893d4;
    box-shadow: 0 1px 0 0 #5893d4;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #5893d4;
}

.nav-item-hovered:hover {
    animation-duration: 300s;
    animation: changecolors !important;
}

@keyframes changecolors {
    from {
        background-color: #000000;
        color: #ffffff;
    }
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

.background-color {
    background-color: #ceddef
}

img {
    max-width: 1200px;
    max-height: 640px;
}

blockquote {
    border-color: #5893d4;
}

.intro {
    display: contents;
}

.carousel-item-width {
    border-radius: 5px;
    display: inline-grid;
    width: 50% !important;
}

.carousel {
    height: 780px;
}

@media screen and (max-width: 700px) {
    .carousel-item-width {
        width: 80% !important;
    }
}

@media screen and (max-width: 700px) {
    .carousel {
        height: 580px;
    }
}

.brand-logo>img {
    padding-top: 8px;
    padding-left: 15px;
    display: block;
    height: 50px;
}

@keyframes slidein {
    0% {
        opacity: 0;
        margin-left: 100%;
        width: 100%;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}

.section-black-image {
    background-image: url('/assets/paradoxy-black-image.jpg')
}

.responsiveimg {
    width: 100%;
    height: auto;
}

.paradoxy-logo {
    width: 200px;
}

.paradoxy-box {
    border-radius: 8px;
    border: solid 2px black;
    padding: 10px !important;
    word-break: break-all;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}