.enterprise-principal-content {
    animation-duration: 1.0s;
    animation-name: slidein;
}

.prefix.active {
    color: #5893d4 !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5893d4;
    box-shadow: 0 1px 0 0 #5893d4;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #5893d4;
}

.background-color {
    background-color: #ceddef
}

img {
    max-width: 1200px;
    max-height: 640px;
}

blockquote{
    border-color: #5893d4;
}

.intro {
    display: contents;
}

.carousel-item-width {
    border-radius: 5px;
    display: inline-grid;
    width: 50% !important;
}

.carousel {
    height: 780px;
}

@media screen and (max-width: 700px) {
    .carousel-item-width {
        width: 80% !important;
    }
}

@media screen and (max-width: 700px) {
    .carousel {
        height: 580px;
    }
}

.brand-logo>img {
    display: block;
    width: 100px;
    height: 60px;
}

@keyframes slidein {
    0% {
        opacity: 0;
        margin-left: 100%;
        width: 100%;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}